  <!DOCTYPE html>
  <html>
  <head>
    <title>Bådene til Sejlads</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../css/mystyle.css">
  </head>
  <body>
  <h1>BådeOverview</h1>

  <table id="boatTable">
    <thead>
    <tr>
      <th>Boat ID</th>
      <th>Boat Name</th>
      <th>Boat Type</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody id="boatTableBody">
    </tbody>
  </table>
  <button class="btn" id="addBoatBtn">Add Boat</button>

  <div id="addBoatModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2 id="modalTitle"></h2>
      <form id="addBoatForm">
        <label for="addBoatNavn">Boat Name:</label>
        <input type="text" id="addBoatNavn" required>
        <label for="addBoatType">Boat Type:</label>
        <select id="addBoatType" required>
          <option value="STOERRE_END_40_FOD">Larger than 40 foot</option>
          <option value="MINDRE_END_25_FOD">Less than 25 foot</option>
          <option value="MELLEM_25_OG_40_FOD">Between 25 and 40 foot</option>
        </select>
        <button type="submit" id="submitBtn">Submit</button>
        <button type="button" id="cancelBtn">Cancel</button>
      </form>
    </div>
  </div>

  <div id="editBoatModal" class="modal" style="display: none;">
    <div class="modal-content">
      <span class="close">&times;</span>
      <form id="updateBoatForm">
        <input type="hidden" name="boatId" id="updateBoatId">
        <label for="updateBoatNavn">Title:</label>
        <input type="text" name="baadNavn" id="updateBoatNavn" required>
        <label for="updateBoatType">Description:</label>
        <select id="updateBoatType" required>
          <option value="STOERRE_END_40_FOD">Larger than 40 foot</option>
          <option value="MINDRE_END_25_FOD">Less than 25 foot</option>
          <option value="MELLEM_25_OG_40_FOD">Between 25 and 40 foot</option>
        </select>
        <button type="submit" id="updateBoatButton">Save Changes</button>
        <button type="button" onclick="hideEditBoatModal()">Cancel</button>
      </form>
    </div>
  </div>
  <!-- Delete Confirmation Modal -->
  <div id="deleteConfirmationModal" class="modal" style="display: none;">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div id="deleteConfirmationMessage"></div>
      <p>Are you sure you want to delete the selected boat?</p>
      <button id="confirmDeleteButton">Yes</button>
      <button id="cancelDeleteButton">No</button>
    </div>
  </div>
  <script src="../js/boattable.js"></script>
  </body>
  </html>
